body {
    font-family: 'Nunito', sans-serif;
    color: #333333;
    background-color: #F5F5F5;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    color: #2596be;;
  }
  
  strong, b, em, i, u, mark {
    font-family: 'Open Sans', sans-serif;
  }
  
  .btn-primary {
    background-color: #2596be;
    border-color: #2596be;
  }
  
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active {
    background-color: #003d80;
    border-color: #003d80;
  }
  
  .form-control:invalid {
    border-color: #2596be;
  }
  
  .form-control:valid {
    border-color: #a8dadc;
  }